@import 'grid';
@import 'responsive';

body {
    margin: 10px;
    padding: 0;
    overflow-x: hidden;
}

.ad {
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 300px;
}

.user-alone {
    position: absolute;
    top: 78px;
    left: 25px;
}

.ball {
    position: absolute;
    top: 22px;
    left: 224px;
    width: 18px;
    height: 18px;
    .cls-1{
        fill:#00aff0;
    }
}

.disney {
    width: 70px;
    opacity: 50%;
    position: absolute;
    top: 90px;
    left: 37px;
}

.bell-mask {
    width: 70px;
    position: absolute;
    top: 77px;
    left: 117px;
    opacity: 55%;
}

.user-group {
    position: absolute;
    top: 78px;
    left: 25px;
    visibility: hidden;
}

.confetti {
    position: absolute;
    top: 0;
}

.cloud {
    position: absolute;
    bottom: 0;
    left: 5px;
}

.text-moment {
    position: absolute;
    width: 130px;
    top: 150px;
    left: 85px;
}

.download-btn {
    cursor: pointer;
    position: absolute;
    width: 80px;
    top: 200px;
    left: 110px;
    .cls-1{
        fill:#0b64a4;
    }
    .cls-2{
        fill:#fff;
    }
}
